PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/whatsapp_clone
JWT_SECRET=my_super_secret_jwt_key_12345

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=123123
AWS_SECRET_ACCESS_KEY=ABCABC+123123
S3_BUCKET_NAME=riyaz-whatsapp-clone